.colorRed {
    background-color: #BC1823;
}

.tWhite{
    color: white;
}

.center {
    text-align: center;
}

.colorGrey {
    background-color: #F0F0F0;
}

li:hover {
    background-color: darkred;
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
}


.p0 {
    padding: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.customImg {
    position: absolute;
    top: 50px;
    left: 36%;
    height: 20%;
}

li > a {
    text-decoration: none;
    color: white;
}

.dot {
    height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.product_text {
    height: 125px;
    text-align: center;
    font-style: italic;
    padding-top: 50px;
}

.product_left {
    max-width: 240px !important;
    margin-left: 160px;
    height: min-content;
}

.product_left_text {
    font-size: small;
    margin: 0;
}

.product_left_text_strong {
    margin-top: 25px;
    margin-bottom: 10px;
}

.product_left_title {
    font-size: x-large;
    font-weight: bolder;
}

.container-custom {
    height: 600px;
    margin: 80px 10% 0 10%;
}

.customize {
    width: 65%; 
    float:right; 
    height:40%;
    font-size: 70px;
    font-weight: bolder;
}

.img_custom {
    float: left;
    width: 32%;
    height: 40%;
}

.customize2 {
    width: 65%; 
    float: left; 
    height:40%;
    font-size: 70px;
    font-weight: bolder;
}

.img_custom2 {
    float: right;
    width: 32%;
    height: 40%;
}

.address {
    float: left;
    font-weight: bolder;
}

.tel {
    float: right;
    font-weight: bolder;
}

.name_artisant {
    font-weight: bolder;
    font-size: 32px;
}

.description_artisant {
    word-wrap: break-word;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.blue-border::before
{
    display: block;
    content: '';
    height: 84%;
    width: 5px;
    background-color: gray;
    float: right;
    margin-left: 10px;
}